.modal {
  display: none;
  width: rem(900);
  padding: 0;

  border-radius: rem(25);
}

.modal__wrap {
  display: flex;
  justify-content: center;
  padding: rem(50);

  background: url("../img/background/bg-modal.png") no-repeat;
  background-size: cover;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.modal__title {
  animation: .5s linear 0s normal slideup;
}

.modal__text-top {
  font-size: rem(16);
  text-align: center;
}

.modal__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal__social {
  margin-bottom: rem(20);
}

.modal__social-link {
  margin-right: rem(30);
}

.modal__social-tel {
  position: relative;

  align-self: center;
  width: 100%;
  margin-bottom: rem(30);
  padding: rem(25) rem(32);
  padding-left: rem(32);

  color: $c-main;

  background-color: #fff;
  border: none;
  border-radius: rem(5);
}

.modal__btn {
  width: 100%;
  margin-bottom: rem(30);

  text-align: center;
}

.modal__wrap-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: rem(50);
}

.modal__text-bottom {
  display: inline-block;

  font-size: rem(12);
  text-align: center;
  color: $c-main;

  &:hover {
    color: $c-main;
    text-decoration: none;
  }
}

.modal__text-accent {
  color: $c-red;
  text-decoration: underline;
}

.modal__photo {
  position: relative;

  display: flex;
  justify-content: center;
}


@keyframes slideup {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
