// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 100;
  font-family: "Uni Neue";
  font-style: normal;

  font-display: swap;
  src: url(../font/UniNeue/UniNeueBook.woff2),
  url(../font/UniNeue/UniNeueBook.woff);
}


@font-face {
  font-weight: 400;
  font-family: "Uni Neue";
  font-style: normal;

  font-display: swap;
  src: url(../font/UniNeue/UniNeueRegular.woff2),
  url(../font/UniNeue/UniNeueRegular.woff);
}


@font-face {
  font-weight: 700;
  font-family: "Uni Neue";
  font-style: normal;

  font-display: swap;
  src: url(../font/UniNeue/UniNeueBold.woff2),
  url(../font/UniNeue/UniNeueBold.woff);
}



@font-face {
  font-weight: 900;
  font-family: "Uni Neue";
  font-style: normal;

  font-display: swap;
  src: url(../font/UniNeue/UniNeueHeavy.woff2),
  url(../font/UniNeue/UniNeueHeavy.woff);
}
