// //////////////////////////////////////// font-family
$ff-main: "Uni Neue", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: rem(18);

// //////////////////////////////////////// colors 
$c-main: #282728;
$c-secondary: #313d4b;
$c-white: #fff;
$c-accent: orange;
$c-purple: #7460f3;
$c-blue: #00a2f2;
$c-green: #25d266;
$c-blue-light: #6b97fb;
$c-red: #fe5a53;
$c-red-dark: #e63c3c;
$c-grey: #596f89;
$c-grey-light: rgba(49, 61, 75, .3);
$c-pink: rgba(232, 68, 68, .6);
$c-grey-dark: #323232;


// //////////////////////////////////////// breakpoints
$sl: 1499.98px;
$xl: 1199.98px;
$lg: 992px;
$md: 767.98px;
$sm: 678px;
$xs: 575.98px;
$ss: 359.98px;

// //////////////////////////////////////// grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px !important;
}

.col {
  margin: 0 15px;
}

$gap: 30px;
$c-12: calc(100% - #{$gap});
$c-11: calc(91.666667% - #{$gap});
$c-10: calc(83.333333% - #{$gap});
$c-9: calc(75% - #{$gap});
$c-8: calc(66.666667% - #{$gap});
$c-7: calc(58.333333% - #{$gap});
$c-6: calc(50% - #{$gap});
$c-5: calc(41.666667% - #{$gap});
$c-4: calc(33.333333% - #{$gap});
$c-3: calc(25% - #{$gap});
$c-2: calc(16.666667% - #{$gap});
$c-1: calc(8.333333% - #{$gap});
